* {
	// border: 1px solid red;
}

.home-text-container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	border: 1px solid white;
}

.home-text-wrapper {
	max-height: 9000px;
	transition: all 500ms ease-in-out;
}

.reviews-container {
	// background-color: $darker-base-color;
	background-color: $base-color;
	display: inline-block;
	width: 100%;
	margin: 5px 0 0 0;
	max-height: 9000px;
	// border: 1px solid $base-color;
	text-align: center;
	position: relative;
}

.reviews-wrapper {
	max-width: $content-width;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.reviews-item {
	// color: white;
	width: calc(100%/3);
	padding: 30px;
	// background-color: $dark-base-color;
	background-color: $light-base-color;
	color: black;
}

.reviews-item:nth-child(2) {
	// background-color: $darker-base-color;
	background-color: $base-color;
	color: black;
}

.reviews-header {
	text-align: right;
}

.reviews-body {
	text-align: center;
}
