* {
	// border: 1px solid red;
}

.home-text-container {
	max-width: $content-width;
	margin: 0 auto;
	padding: 1em;
	text-align: left;
}

.home-text-wrapper {
	max-height: 9000px;
	transition: all 500ms ease-in-out;
	width: 600px;
margin: auto;
}

.reviews-container {
	// background-color: $darker-base-color;
	background-color: #f8f8f8;
	display: inline-block;
	width: 100%;
	margin: 20px 0px 50px 0px;
	max-height: 9000px;
	// border: 1px solid $base-color;
	text-align: center;
	position: relative;
}

.reviews-wrapper {
	max-width: $content-width;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
  border-width: 4px; color:#2ba683;
	box-shadow: 0px 0px 8px #b3b3b3;
}

.reviews-item {
	// color: white;
	width: calc(100%/3);
	padding: 30px;
	// background-color: $dark-base-color;
	background-color: white;
	color: black;
}

.reviews-item:nth-child(2) {
	// background-color: $darker-base-color;
	background-color: white;
	color: black;
}

.reviews-header {
	text-align: right;
}

.reviews-body {
	text-align: center;
}
