<div class="content text-align">
    <h3>Kosten voor de huidige reservering</h3>

    <p>Reservering van
        <span id="datein"> </span>
        tot
        <span id="dateout"> </span>
    <p id="total_price"></p>
    <p>(Inclusief borg van 500 euro)</p>
</div>
