body {
	font-family: $font-body;
	font-weight: $font-normal-weight;
	color: $base-dark;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.page-body {
		flex: 1;
		padding: 2em;
	}
}

.header-container {
	position: relative;
	width: 100%;
	min-height: 50px;
	text-align: center;
	color: #fff;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	.header-content-inner {
		font-family: $font-body;
		padding: 100px 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;

		p {
			font-family: $font-logo;
			font-weight: 300;
			text-transform: none;
			font-size: 0.7em;
			opacity: 0.8;
		}
	}
}

.videoContainer {
	position: relative;

	.container video {
		position: relative;
		z-index: 0;
	}

	.overlay {
		background: rgba(0,0,0,0);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.overlay h1 {
		color: white;
		font-family: 'Nobile', sans-serif;
		font-size: 3em;
		text-align: center;
	}

	video {
		left: 50%;
		z-index: -100;
		background-size: cover;
		transition: 1s opacity;
	}

	.stopfade {
		opacity: 0.5;
	}

	.overlay p {
		opacity: 0.3;
		color: white;
	}

	a:hover {
		opacity: 0.5;
		// background:rgba(0,0,0,0.9);
	}
}

.content {
	max-width: $content-width;
	padding: 10px;
	margin: 0 auto;
}

.headings {
	color: $base-color;
	text-transform: uppercase;
	font-family: $font-title;
}

.star {
	width: 10px;
}

.text-align {
	text-align: center;
}

footer {
	/* Wrapper */
	.icon-button {
		background-color: white;
		border-radius: 3.6rem;
		cursor: pointer;
		display: inline-block;
		font-size: 2.0rem;
		height: 3.6rem;
		line-height: 3.6rem;
		margin: 0 5px;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		width: 3.6rem;
	}
	//
	// /* Circle */
	.icon-button span {
		border-radius: 0;
		display: block;
		height: 0;
		left: 50%;
		margin: 0;
		position: absolute;
		top: 50%;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
		width: 0;
	}
	// .icon-button:hover span {
	// 	width: 3.6rem;
	// 	height: 3.6rem;
	// 	border-radius: 3.6rem;
	// 	margin: -1.8rem;
	// }

	// /* Icons */
	.icon-button i {
		background: none;
		color: white;
		height: 3.6rem;
		left: 0;
		line-height: 3.6rem;
		position: absolute;
		top: 0;
		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
		width: 3.6rem;
		z-index: 10;
	}
	.icon-button .fa-instagram {
		color: black;
	}
	.icon-button .fa-facebook {
		color: #3B5998;
	}
	.icon-button .fa-map-marker {
		color: red;
	}
	// .icon-button:hover .icon-twitter,
	// .icon-button:hover .fa{
	// // .icon-button:hover .icon-google-plus {
	// 	color: white;
	// }


	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight: 100;
	color: white;
	padding: 2rem;
	width: 100%;
	margin: 2rem;
	float: right;
	font-size: 1.2rem;

	.wrapper {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;

		ul {
			margin: 0;
			padding: 0;
		}

		ul li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.bookingtrigger a {
			text-transform: capitalize;
		}
	}

	.column {
		color: black;
		width: calc(100%/3);
		padding: 30px;
		background-color: #DCDCDC;

		a:link,
		a:visited {
			color: black;
			text-align: center;
			text-decoration: none;
		}
	}
}
