// * {
// 	border: 1px solid red;
// }

body {
	font-family: $font-body;
	font-weight: $font-normal-weight;
	color: $base-dark;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	.page-body {
		flex: 1;
		padding-top: 0px;
		background-color: #f8f8f8;
	}
}

.header-container {
	position: relative;
	width: 100%;
	min-height: 50px;
	text-align: center;
	color: #fff;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	.header-content-inner {
		font-family: $font-body;
		padding: 100px 15px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2em;

		p {
			font-family: $font-logo;
			font-weight: 300;
			text-transform: none;
			font-size: 0.7em;
			opacity: 0.8;
		}
	}

	.content {
		max-width: $content-width;
		margin: 0 auto;
		.booking {
			text-align: center;
		}
	}
}

.videoContainer {
	position: relative;
	z-index: 0;

	#vid {
		width: 100%;
	}

	.overlay {
		background: rgba(0, 0, 0, 0);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.overlay h1 {
		opacity: 0.7;
		color: #2ba683;
		font-size: 150px;
		font-family: 'Caveat', cursive;
		width: 100%;
		position: absolute;
		left: 100px;
		bottom: 60px;

	}

	.overlay p {
		color: #ffffff;
	  font-family: Verdana, "Helvetica Neue", Arial, sans-serif;
	  font-size: 2.0em;
	  display: block;
		position: relative;
		left: -150px;
    top: 20px;
	}
}

.star {
	width: 10px;
}

h2, h3, .headings{
	color:#2ba683; font-family:'Caveat', cursive; font-size:40px;
}

footer {
	/* Wrapper */
	.icon-button {
		background-color: white;
		border-radius: 3.6rem;
		cursor: pointer;
		display: inline-block;
		font-size: 2.0rem;
		height: 3.6rem;
		line-height: 3.6rem;
		margin: 0 5px;
		position: relative;
		text-align: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		width: 3.6rem;
		border-top: 2px solid bisque !important;
	}
	.icon-button i {
		background: none;
		color: white;
		height: 3.6rem;
		left: 0;
		line-height: 3.6rem;
		position: absolute;
		top: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		width: 3.6rem;
		z-index: 10;
	}
	.icon-button .fa-instagram {
		color: black;
	}
	.icon-button .fa-facebook {
		color: #3b5998;
	}
	.icon-button .fa-map-marker {
		color: red;
	}

	font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
	font-weight: 100;
	color: white;
	padding: 2rem 0;
	width: 100%;
	margin: 0;
	float: right;
	font-size: 1.2rem;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	max-height: 9000px;
	// min-height: 5em;

	.wrapper {
		max-width: $content-width;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;

		ul {
			margin: 0;
			padding: 0;
		}

		ul li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.bookingtrigger a {
			text-transform: capitalize;
		}
	}

	.column {
		color: black;
		width: calc(100%/3);
		padding: 30px;
		background-color: #ffffff;

		a:link,
		a:visited {
			color: black;
			text-align: center;
			text-decoration: none;
		}
	}

	.home-text-wrapper {
		color: #bfd9bf;
	}
}
