<% title "Holiday Villa in Toscane, Italy: Cas'al Verde" %>
<div class="videoContainer">
  <video id="vid" video autobuffer autoplay>
    <source id="mp4" src="http://res.cloudinary.com/liss/video/upload/v1502741234/Casal_Verde_vanuit_de_lucht_mzsnqd.mp4" type="video/mp4">
  </video>

  <div class="overlay">
    <h1>Cas'al Verde</h1>
    <p>Tranquility, natural beauty, privacy in the heart of the famous Chianti region in Tuscany</p>
  </div>
</div>

<div class="reviews-container">
  <div class="reviews-wrapper">
    <% @reviews.each do |r| %>
    <div class="reviews-item">
      <div class="reviews-header">
        <p><%= r.name %></p>
      </div>
      <div class="reviews-body">
        <p>
          <strong>Stars:
          </strong>
          <% r.stars.times do %>
          <%= image_tag 'full_star.svg', class: 'star', alt: 'full star' %>
          <% end %>
          <% (5 - r.stars).times do %>
          <%= image_tag 'empty_star.svg', class: 'star', alt: 'empty star' %>
          <% end %>
        </p>
        <p><%= r.review %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
