<% title "Photo's van familie villa in Toscane, Italie: Cas'al Verde" %>

<div class="content">
    <div id="instagram" class="instagram"></div>
</div>
<img src="http://res.cloudinary.com/liss/image/upload/v1503062802/front_ytmnlh.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062800/5_hiks63.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062801/pool_qbwrfe.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062801/pool_day_ghpccr.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062801/fire_rehceh.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062800/1_vuul3n.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062802/table_wr0eve.jpg" height="300" width="350" >
<img src="http://res.cloudinary.com/liss/image/upload/v1503062800/6_agziui.jpg" height="300" width="350" >


<!-- <script>
    Instagram.popular(function (response) {
        var instagram = $('#instagram');
        for (var i = 0; i < response.data.length; i++) {
            var imageUrl = response.data[i].images.low_resolution.url;
            instagram.append(imgHelper(imageUrl, response.data[i].images.standard_resolution.url));
        }
        gallery();
    });
    function gallery() {
        $('.ig-image').magnificPopup({
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });
    }
</script> -->
