.booking-container {
	position: relative;

	a {
		background-color: #6bae63;
		color: white;
		padding: 10px 20px;
		text-align: center;
		display: inline-block;
		border: 2px solid;
		border-radius: 25px;
	}

	a:hover, a:focus{
		color: white;
		text-decoration: none;
	}

}

.bookingtrigger {
	height: 30px;
	width: $button-width;
	border-radius: 15px;
	background-color: $base-color;
	text-align: center;

	a {
		color: white;
		font-size: 14px;
		line-height: 30px;
		margin: 0;
		padding: 0;
	}
}

.bookingmodal.clicked {
	display: flex;
	animation: open 200ms ease-in-out forwards;
	transform-origin: center top;
	@keyframes open {
		0% {
			opacity: 0;
			transform: scale(0.8);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}

.bookingmodal {
	position: absolute;
	z-index: 99;
	left: -75px;
	display: none;
	background: url('images/modalbg.svg');
	height: 300px;
	width: 300px;
	font-family: Lato, sans-serif;
	// box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
		max-width: 300px;
		margin-top: 45px;

		:focus {
			outline: 1px solid #6bae63;
		}
	}

	.bookinginput {
		padding-bottom: 17px;
		margin: 0 5px;

		label {
			font-size: 12px;
		}

		input {
			padding-left: 7px;
			width: 105px;
			height: 25px;
			border: 1px solid #999;
			border-radius: 3px;
			margin-top: 5px;
			font-size: 12px;
		}
	}

	.date input::-webkit-inner-spin-button {
		display: none;
	}

	.guests {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		padding-top: 8px;
		padding-bottom: 20px;
		width: 220px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		.input-modal {
			width: 50%;
		}

		input {
			width: 100%;
			padding-left: 7px;
			margin-bottom: 5px;
		}

		.buttons-modal {
			width: 40%;
			display: flex;
		}

		.people_button_modal {
			width: 25px;
		}
	}
}

.contact_form label {
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
}

.contact_form input {
	height: 20px;
	width: 220px;
	padding: 5px 8px;
}
