.navbar-default {
	font-family: $font-body;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	margin: 0;
	padding: 0;
	background-color: rgba(248, 248, 248, 0) !important;
	border:none !important;
}


.navbar-default .navbar-header .navbar-brand {
	text-transform: uppercase;
	font-family: $font-title;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.navbar {
	width: 100%;
	border-color: rgba(34, 34, 34, .05);
	font-family: Verdana;
	font-size: 1,5 em;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;

	h1 {
		margin: 8px 0 8px 15px;
		padding: 0;
		font-family: 'Caveat', cursive;
		display: inline-block;
		font-size: 1.8em;
		span:nth-child(2) {
			font-weight: $font-bold-weight;
		}
	}
	img {
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: inherit;
		display: inline-block;
		padding: 5px;
		margin: 5px 10px;
	}
	li.book_now a {
		-webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.67);
		-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.67);
		box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.67);
		background: #29b08a;
		color: white !important;
		padding: 11px 30px;
		text-align: center;
		display: inline-block;
		border-radius: 30px;
		margin: 9px 0;
		border-radius: 30px;
		// border-bottom: ;
		:hover,
		:focus {
			background-color: #2ba683 !important;
			text-decoration: none;

		// 	box-shadow: rgb(242, 250, 220) 0px 0px 14px -3px inset;
    // background: linear-gradient(rgb(219, 230, 196) 5%, rgb(155, 168, 146) 100%) rgb(219, 230, 196);
    // border-radius: 6px;
    // border: 1px solid rgb(178, 184, 173);
    // display: inline-block;
    // cursor: pointer;
    // color: rgb(117, 125, 111);
    // font-family: Verdana;
    // font-size: 19px;
    // font-weight: bold;
    // padding: 11px 32px;
    // text-decoration: none;
    // text-shadow: rgb(206, 217, 191) 0px 1px 0px;
		}
	}

	.content {
		padding: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
