.navbar-default {
	font-family: $font-body;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	margin: 0;
	padding: 0;
}
.navbar-default .navbar-header .navbar-brand {
	text-transform: uppercase;
	font-family: $font-title;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.navbar {
	width: 100%;
	// color: $base-color;
	text-transform: uppercase;
	border-color: rgba(34, 34, 34, .05);
	font-family: $font-body;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	h1 {
		margin: 8px 0 8px 15px;
		padding: 0;
		display: inline-block;
		font-size: 1.2em;
		span:nth-child(2) {
			font-weight: $font-bold-weight;
		}
	}
	img {
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: inherit;
		display: inline-block;
		padding: 5px;
		margin: 5px 10px;
	}
	li.book_now a {
		background-color: #6bae63;
		color: white;
		padding: 10px 20px;
		text-align: center;
		display: inline-block;
		border: 2px solid;
		margin: 9px 0;
		border-radius: 25px;
		:hover,
		:focus {
			color: white;
			text-decoration: none;
		}
	}

	.content {
		padding: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
