<div class="content review" style="padding-top:80px;">
    <h2 class="headings text-align">Reviews</h2>

    <!-- Render tripadvisor and review partials -->
    <%= render "reviews" %>

    <div class="text-align">
        <p style="text-align: center; font-size:20px; padding:40px;">Heeft u bij ons verbleven? We horen graag wat u ervan vond.</p>

        <button id="show-partial" class="submit_samll">
            Vertel ons hoe het was.
        </button>
    </div>

    <div style="display:none;" id="partial">
        <%= render "form" %>
    </div>

    <div id="tripadvisor" class="text-align">
        <%= render "tripadvisor" %>
    </div>
</div>
