<footer>
  <div class="wrapper">
  <div class="column one">
<strong>Cas'al Verde</strong><br>
Strade di Tregole 79 <br>
Castellina in Chianti <br>
53011 Italy<br><br>
+31 6 510 697 87
</div>
  <div class="column two">
    <strong>Useful links</strong><br>
    <ul>
      <li><%= link_to "Book Now", new_booking_path %></li>
        <% Page.all.each do |page|%>
          <% if page.name != "home_page" && page.hidden != true %>
            <li><%= link_to page.name, page_path(page) %></li>
          <% end %>
        <% end %>
      </ul>
  </div>
  <div class="column three">
<strong>Follow us on</strong>
    <div class="service-box">
<div class="list-group">
  <ul>
  <li><a target="_blank" href="https://www.facebook.com/Casal-Verde-510781805638723/?fref=ts" class="icon-button facebook"><i class="fa fa-facebook"></i></a></li>
  <li><a target="_blank" href="https://www.instagram.com/casalverde.eu/" class="icon-button instagram"><i class="fa fa-instagram"></i></a></li>
  <li><a target="_blank" href="https://goo.gl/maps/hB2UJF8QTHD2" class="icon-button google-maps"><i class="fa fa-map-marker"></i></a></li>
</ul>
</div>
</div>
  </div>
</div>
</footer>
