<footer>
  <div class="column one">
<strong>Cas'al Verde</strong><br>
Strade di Tregole 79 <br>
Castellina in Chianti <br>
53011 Italy<br><br>
+31 6 510 697 87
</div>
  <div class="column two">
  </div>
  <div class="column three">
  </div>
</footer>
